# Python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam (Virtual Environment)
venv/
env/
.env

# Veritabanı (Eğer yerel SQLite kullandıysak)
*.sqlite3
*.db

# Editör dosyaları
.vscode/
.idea/
.DS_Store